// font-family
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 300;
  src:
    url('/assets/fonts/Dana-Light.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/ url('/assets/fonts/Dana-Light.woff') format('woff'); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 500;
  src:
    url('/assets/fonts/Dana-Medium.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/ url('/assets/fonts/Dana-Medium.woff') format('woff'); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 600;
  src:
    url('/assets/fonts/Dana-DemiBold.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/ url('/assets/fonts/Dana-DemiBold.woff') format('woff'); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 900;
  src:
    url('/assets/fonts/Dana-Black.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/ url('/assets/fonts/Dana-Black.woff') format('woff'); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: bold;
  src:
    url('/assets/fonts/Dana-Bold.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/ url('/assets/fonts/Dana-Bold.woff') format('woff'); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: normal;
  src:
    url('/assets/fonts/Dana-Regular.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/ url('/assets/fonts/Dana-Regular.woff') format('woff'); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
