/* src/styles.scss */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    // brand
    --pallete-brand-50: #eef3ffff;
    --pallete-brand-100: #e0e8ffff;
    --pallete-brand-200: #c6d4ffff;
    --pallete-brand-300: #a4b7fdff;
    --pallete-brand-400: #7f90faff;
    --pallete-brand-500: #5660f2ff;
    --pallete-brand-600: #4644e7ff;
    --pallete-brand-700: #3b36ccff;
    --pallete-brand-800: #312ea5ff;
    --pallete-brand-900: #2d2e82ff;
    --pallete-brand-950: #1b1a4cff;

    // neutral
    --pallete-Neutral-black: #000000ff;
    --pallete-Neutral-white: #ffffffff;

    // gray
    --pallete-gray-50: #f7f7f7ff;
    --pallete-gray-100: #f2f2f2ff;
    --pallete-gray-200: #ebebebff;
    --pallete-gray-300: #ddddddff;
    --pallete-gray-400: #c1c1c1ff;
    --pallete-gray-500: #8c8c8cff;
    --pallete-gray-600: #6c6c6cff;
    --pallete-gray-700: #515151ff;
    --pallete-gray-800: #3f3f3fff;
    --pallete-gray-900: #222222ff;
    --pallete-gray-950: #0a0a0aff;
    // warm gray
    --pallete-warm-gray-50: #fafaf9ff;
    --pallete-warm-gray-100: #f5f5f4ff;
    --pallete-warm-gray-200: #e7e5e4ff;
    --pallete-warm-gray-300: #d6d3d1ff;
    --pallete-warm-gray-400: #a8a29eff;
    --pallete-warm-gray-500: #78716cff;
    --pallete-warm-gray-600: #57534eff;
    --pallete-warm-gray-700: #44403cff;
    --pallete-warm-gray-800: #292524ff;
    --pallete-warm-gray-900: #1c1917ff;
    --pallete-warm-gray-950: #0c0a09ff;
    // cool gray
    --pallete-cool-gray-50: #f8fafcff;
    --pallete-cool-gray-100: #f1f5f9ff;
    --pallete-cool-gray-200: #e2e8f0ff;
    --pallete-cool-gray-300: #cbd5e1ff;
    --pallete-cool-gray-400: #94a3b8ff;
    --pallete-cool-gray-500: #64748bff;
    --pallete-cool-gray-600: #475569ff;
    --pallete-cool-gray-700: #334155ff;
    --pallete-cool-gray-800: #1e293bff;
    --pallete-cool-gray-900: #0f172aff;
    --pallete-cool-gray-950: #020617ff;
    // blue
    --pallete-Blue-50: #eff6ffff;
    --pallete-Blue-100: #dbeafeff;
    --pallete-Blue-200: #bfdbfeff;
    --pallete-Blue-300: #93c5fdff;
    --pallete-Blue-400: #60a5faff;
    --pallete-Blue-500: #3b82f6ff;
    --pallete-Blue-600: #2563ebff;
    --pallete-Blue-700: #1d4ed8ff;
    --pallete-Blue-800: #1e40afff;
    --pallete-Blue-900: #1e3a8aff;
    --pallete-Blue-950: #172554ff;
    // cyan
    --pallete-cyan-50: #f0f9ffff;
    --pallete-cyan-100: #e5f6ffff;
    --pallete-cyan-200: #bae6ffff;
    --pallete-cyan-300: #82cfffff;
    --pallete-cyan-400: #33b1ffff;
    --pallete-cyan-500: #1192e8ff;
    --pallete-cyan-600: #0072c3ff;
    --pallete-cyan-700: #00539aff;
    --pallete-cyan-800: #003a6dff;
    --pallete-cyan-900: #012749ff;
    --pallete-cyan-950: #061727ff;
    // green
    --pallete-green-50: #f0fdf4ff;
    --pallete-green-100: #dcfce7ff;
    --pallete-green-200: #bbf7d0ff;
    --pallete-green-300: #86efacff;
    --pallete-green-400: #4ade80ff;
    --pallete-green-500: #22c55eff;
    --pallete-green-600: #16a34aff;
    --pallete-green-700: #15803dff;
    --pallete-green-800: #166534ff;
    --pallete-green-900: #14532dff;
    --pallete-green-950: #052e16ff;
    // magenta
    --pallete-magenta-50: #fdf2f8ff;
    --pallete-magenta-100: #fff0f7ff;
    --pallete-magenta-200: #ffd6e8ff;
    --pallete-magenta-300: #ffafd2ff;
    --pallete-magenta-400: #ff7eb6ff;
    --pallete-magenta-500: #ee5396ff;
    --pallete-magenta-600: #d02670ff;
    --pallete-magenta-700: #9f1853ff;
    --pallete-magenta-800: #740937ff;
    --pallete-magenta-900: #510224ff;
    --pallete-magenta-950: #2a0a18ff;
    // orange
    --pallete-orange-50: #fff7edff;
    --pallete-orange-100: #fff2e8ff;
    --pallete-orange-200: #ffd9beff;
    --pallete-orange-300: #ffb784ff;
    --pallete-orange-400: #ff832bff;
    --pallete-orange-500: #eb6200ff;
    --pallete-orange-600: #ba4e00ff;
    --pallete-orange-700: #8a3800ff;
    --pallete-orange-800: #5e2900ff;
    --pallete-orange-900: #3e1a00ff;
    --pallete-orange-950: #231000ff;
    // purple
    --pallete-purple-50: #f5f3ffff;
    --pallete-purple-100: #ede9feff;
    --pallete-purple-200: #ddd6feff;
    --pallete-purple-300: #c4b5fdff;
    --pallete-purple-400: #a78bfaff;
    --pallete-purple-500: #8b5cf6ff;
    --pallete-purple-600: #7c3aedff;
    --pallete-purple-700: #6d28d9ff;
    --pallete-purple-800: #5b21b6ff;
    --pallete-purple-900: #4c1d95ff;
    --pallete-purple-950: #2e1065ff;
    // red
    --pallete-red-50: #fff1f2ff;
    --pallete-red-100: #ffe4e6ff;
    --pallete-red-200: #fecdd3ff;
    --pallete-red-300: #fda4afff;
    --pallete-red-400: #fb7185ff;
    --pallete-red-500: #f43f5eff;
    --pallete-red-600: #e11d48ff;
    --pallete-red-700: #be123cff;
    --pallete-red-800: #9f1239ff;
    --pallete-red-900: #881337ff;
    --pallete-red-950: #4c0519ff;
    // teal
    --pallete-teal-50: #f0fdfaff;
    --pallete-teal-100: #d9fbfbff;
    --pallete-teal-200: #9ef0f0ff;
    --pallete-teal-300: #3ddbd9ff;
    --pallete-teal-400: #08bdbaff;
    --pallete-teal-500: #009d9aff;
    --pallete-teal-600: #007d79ff;
    --pallete-teal-700: #005d5dff;
    --pallete-teal-800: #004144ff;
    --pallete-teal-900: #022b30ff;
    --pallete-teal-950: #081a1cff;
    // yellow
    --pallete-yellow-50: #fffbebff;
    --pallete-yellow-100: #fef3c7ff;
    --pallete-yellow-200: #fde68aff;
    --pallete-yellow-300: #fcd34dff;
    --pallete-yellow-400: #fbbf24ff;
    --pallete-yellow-500: #f59e0bff;
    --pallete-yellow-600: #d97706ff;
    --pallete-yellow-700: #b45309ff;
    --pallete-yellow-800: #92400eff;
    --pallete-yellow-900: #78350fff;
    --pallete-yellow-950: #451a03ff;

    //theme Default
    //core tokens
    //background
    --background: var(--pallete-neutral-white);
    --background-hover: rgba(var(pallete-gray-500), 0.12);
    --background-active: rgba(var(pallete-gray-500), 0.5);
    --background-selected: rgba(var(pallete-gray-500), 0.2);
    --background-selected-hover: rgba(var(pallete-gray-500), 0.32);
    --background-inverse: var(--pallete-gray-900);
    --background-inverse-hover: var(--pallete-gray-800);
    --background-brand: var(--pallete-brand-500);
    //surface
    --surface-primary: var(--pallete-gray-50);
    --surface-primary-hover: var(--pallete-gray-100);
    --surface-primary-active: var(--pallete-gray-400);
    --surface-primary-selected: var(--pallete-gray-200);
    --surface-primary-selected-hover: var(--pallete-gray-300);
    --surface-secondary: var(--pallete-neutral-white);
    --surface-secondary-hover: var(--pallete-gray-100);
    --surface-secondary-active: var(--pallete-gray-400);
    --surface-secondary-selected: var(--pallete-gray-200);
    --surface-secondary-selected-hover: var(--pallete-gray-300);
    --surface-selected-inverse: var(--pallete-gray-900);
    --surface-selected-disabled: var(--pallete-gray-500);
    --surface-accent-primary: var(--pallete-brand-100);
    --surface-accent-secondary: var(--pallete-purple-100);
    --surface-accent-tertiary: var(--pallete-teal-200);
    //field
    --field: var(--pallete-gray-100);
    --field-hover: var(--pallete-gray-200);
    //border
    --border-subtle: var(--pallete-gray-300);
    --border-strong: var(--pallete-gray-500);
    --border-tile: var(--pallete-gray-400);
    --border-inverse: var(--pallete-gray-900);
    --border-disabled: var(--pallete-gray-300);
    --border-interactive: var(--pallete-brand-500);
    //foreground
    --fg-primary: var(--pallete-gray-900);
    --fg-secondary: var(--pallete-gray-600);
    --fg-placeholder: var(--pallete-gray-400);
    --fg-on-color: var(--Default-Neutral-white);
    --fg-on-color-disabled: var(--pallete-gray-500);
    --fg-helper: var(--pallete-gray-500);
    --fg-error: var(--Default-Red-60);
    --fg-inverse: var(--Default-Neutral-white);
    --fg-disabled: var(--pallete-gray-400);
    //link
    --link-primary: var(--pallete-brand-500);
    --link-primary-hover: var(--pallete-brand-700);
    --link-secondary: var(--pallete-gray-900);
    --link-secondary-hover: var(--pallete-gray-950);
    --link-inverse: var(--pallete-brand-400);
    --link-inverse-hover: var(--pallete-brand-300);
    --link-visited: var(--Default-Purple-60);
    // support
    --support-error: var(--pallete-red-500);
    --support-success: var(--pallete-green-500);
    --support-warning: var(--pallete-yellow-500);
    --support-info: var(--pallete-blue-500);
    --support-error-inverse: var(--pallete-red-400);
    --support-success-inverse: var(--pallete-green-400);
    --support-warning-inverse: var(--pallete-yellow-400);
    --support-info-inverse: var(--pallete-brand-400);
    // miscellaneous
    --focus: var(--pallete-brand-500);
    --support-caution-undefined: var(--Default-Purple-60);
    --focus-inset: var(--pallete-neutral-white);
    --focus-inverse: var(--pallete-neutral-white);
    --interactive: var(--pallete-brand-500);
    --highlight: var(--pallete-brand-200);
    --overlay: rgba(var(pallete-gray-950), 0.5);
    --skeleton-element: var(--pallete-gray-300);
    --skeleton-background: var(--pallete-gray-100);

    // component token
    // button
    --button-primary-brand: var(--pallete-brand-500);
    --button-primary-brand-hover: var(--pallete-brand-600);
    --button-primary-brand-active: var(--pallete-brand-700);
    --button-primary: var(--pallete-gray-900);
    --button-primary-hover: var(--pallete-gray-800);
    --button-primary-active: var(--pallete-gray-600);
    --button-secondary: var(--pallete-gray-100);
    --button-secondary-hover: var(--pallete-gray-200);
    --button-secondary-active: var(--pallete-gray-400);
    --button-tertiary: var(--pallete-warm-gray-900);
    --button-tertiary-hover: var(--pallete-gray-200);
    --button-tertiary-active: var(--pallete-gray-400);
    --button-danger-primary: var(--pallete-red-600);
    --button-danger-secondary: var(--pallete-red-600);
    --button-danger-hover: var(--pallete-red-700);
    --button-danger-active: var(--pallete-red-800);
    --button-accent: var(--pallete-green-500);
    --button-accent-hover: var(--pallete-green-600);
    --button-accent-active: var(--pallete-green-700);
    --button-separator: var(--pallete-gray-300);
    --button-disabled: var(--pallete-gray-400);
    // notification
    --notification-info-background: var(--Default-Blue-10);
    --notification-info-border: #0043ce4d;
    --notification-success-background: var(--Default-Green-10);
    --notification-success-border: #24a1484d;
    --notification-error-background: var(--Default-Red-10);
    --notification-error-border: #da1e284d;
    --notification-warning-background: var(--Default-Yellow-10);
    --notification-warning-border: #f1c21b4d;
    --notification-action-hover: var(--Default-Neutral-white);
    --notification-action-tertiary-inverse: var(--Default-Neutral-white);
    --notification-action-tertiary-inverse-text: var(--Default-Cool-Gray-100);
    --notification-action-tertiary-inverse-hover: var(--surface-primary-hover);
    // tag
    --Blue-tag-background-blue: var(--pallete-brand-100);
    --Blue-tag-color-blue: var(--pallete-brand-500);
    --Blue-tag-hover-blue: var(--pallete-brand-200);
    --Blue-tag-border-blue: var(--pallete-brand-400);
    --Cyan-tag-background-cyan: var(--Default-Cyan-10);
    --Cyan-tag-color-cyan: var(--Default-Cyan-70);
    --Cyan-tag-hover-cyan: var(--Hover-Cyan-10);
    --Cyan-tag-border-cyan: var(--Default-Cyan-40);
    --Green-tag-background-green: var(--Default-Green-10);
    --Green-tag-color-green: var(--Default-Green-70);
    --Green-tag-hover-green: var(--Hover-Green-10);
    --Magenta-tag-background-magenta: var(--Default-Magenta-10);
    --Green-tag-border-green: var(--Default-Green-40);
    --Magenta-tag-color-magenta: var(--Default-Magenta-70);
    --Magenta-tag-hover-magenta: var(--Hover-Magenta-10);
    --Purple-tag-background-purple: var(--Default-Purple-10);
    --Magenta-tag-border-magenta: var(--Default-Magenta-40);
    --Purple-tag-color-purple: var(--Default-Purple-70);
    --Purple-tag-hover-purple: var(--Hover-Purple-10);
    --Red-tag-background-red: var(--Default-Red-10);
    --Purple-tag-border-purple: var(--Default-Purple-40);
    --Red-tag-color-red: var(--Default-Red-70);
    --Red-tag-hover-red: var(--Hover-Red-10);
    --Red-tag-border-red: var(--Default-Red-40);
    --Teal-tag-background-teal: var(--Default-Teal-10);
    --Teal-tag-color-teal: var(--Default-Teal-70);
    --Teal-tag-hover-teal: var(--Hover-Teal-10);
    --Gray-tag-background-gray: var(--Default-Gray-10);
    --Teal-tag-border-teal: var(--Default-Teal-40);
    --Gray-tag-color-gray: var(--Default-Gray-70);
    --Gray-tag-hover-gray: var(--Hover-Gray-10);
    --Cool-Gray-tag-background-cool-gray: var(--Default-Cool-Gray-10);
    --Gray-tag-border-gray: var(--Default-Gray-40);
    --Cool-Gray-tag-color-cool-gray: var(--Default-Cool-Gray-70);
    --Cool-Gray-tag-hover-cool-gray: var(--Hover-Cool-Gray-10);
    --Cool-Gray-tag-border-cool-gray: var(--Default-Cool-Gray-40);
    --Warm-Gray-tag-background-warm-gray: var(--Default-Warm-Gray-10);
    --Warm-Gray-tag-color-warm-gray: var(--Default-Warm-Gray-70);
    --Warm-Gray-tag-hover-warm-gray: var(--Hover-Warm-Gray-10);
    --Warm-Gray-tag-border-warm-gray: var(--Default-Warm-Gray-40);
    --Orange-tag-background-orange: var(--Default-Orange-10);
    --Orange-tag-color-orange: var(--Default-Orange-70);
    --Orange-tag-hover-orange: var(--Hover-Orange-10);
    --Orange-tag-border-orange: var(--Default-Orange-40);
    --Yellow-tag-background-yellow: var(--Default-Yellow-10);
    --Yellow-tag-color-yellow: var(--Default-Yellow-70);
    --Yellow-tag-hover-yellow: var(--Hover-Yellow-10);
    --Yellow-tag-border-yellow: var(--Default-Yellow-40);
  }
}
