/* src/styles.scss */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'assets/components/tag';
@import 'assets/fonts';

@layer base {
  :root {
    --white: #fff;
    --black: #000;
    // brand
    --brand-50: #eef3ff;
    --brand-100: #e0e8ff;
    --brand-200: #c6d4ff;
    --brand-300: #a4b7fd;
    --brand-400: #7f90fa;
    --brand-500: #5660f2;
    --brand-600: #4644e7;
    --brand-700: #3b36cc;
    --brand-800: #312ea5;
    --brand-900: #2d2e82;
    --brand-950: #1b1a4c;

    // neutral
    --neutral-50: #f7f7f7;
    --neutral-100: #f2f2f2;
    --neutral-200: #ebebeb;
    --neutral-300: #dddddd;
    --neutral-400: #c1c1c1;
    --neutral-500: #8c8c8c;
    --neutral-600: #6c6c6c;
    --neutral-700: #515151;
    --neutral-800: #3f3f3f;
    --neutral-900: #222222;
    --neutral-950: #0a0a0a;
    //warm gray
    --warm-gray-50: #fafaf9;
    --warm-gray-100: #f5f5f4;
    --warm-gray-200: #e7e5e4;
    --warm-gray-300: #d6d3d1;
    --warm-gray-400: #a8a29e;
    --warm-gray-500: #78716c;
    --warm-gray-600: #57534e;
    --warm-gray-700: #44403c;
    --warm-gray-800: #292524;
    --warm-gray-900: #1c1917;
    --warm-gray-950: #0c0a09;
    //cool gray
    --cool-gray-50: #f8fafc;
    --cool-gray-100: #f1f5f9;
    --cool-gray-200: #e2e8f0;
    --cool-gray-300: #cbd5e1;
    --cool-gray-400: #94a3b8;
    --cool-gray-500: #64748b;
    --cool-gray-600: #475569;
    --cool-gray-700: #334155;
    --cool-gray-800: #1e293b;
    --cool-gray-900: #0f172a;
    --cool-gray-950: #020617;
    //blue
    --blue-50: #eff6ff;
    --blue-100: #dbeafe;
    --blue-200: #bfdbfe;
    --blue-300: #93c5fd;
    --blue-400: #60a5fa;
    --blue-500: #3b82f6;
    --blue-600: #2563eb;
    --blue-700: #1d4ed8;
    --blue-800: #1e40af;
    --blue-900: #1e3a8a;
    --blue-950: #172554;
    //cyan
    --cyan-50: #f0f9ff;
    --cyan-100: #e5f6ff;
    --cyan-200: #bae6ff;
    --cyan-300: #82cfff;
    --cyan-400: #33b1ff;
    --cyan-500: #1192e8;
    --cyan-600: #0072c3;
    --cyan-700: #00539a;
    --cyan-800: #003a6d;
    --cyan-900: #012749;
    --cyan-950: #061727;
    //green
    --green-50: #f0fdf4;
    --green-100: #dcfce7;
    --green-200: #bbf7d0;
    --green-300: #86efac;
    --green-400: #4ade80;
    --green-500: #22c55e;
    --green-600: #16a34a;
    --green-700: #15803d;
    --green-800: #166534;
    --green-900: #14532d;
    --green-950: #052e16;
    //magenta
    --magenta-50: #fdf2f8;
    --magenta-100: #fff0f7;
    --magenta-200: #ffd6e8;
    --magenta-300: #ffafd2;
    --magenta-400: #ff7eb6;
    --magenta-500: #ee5396;
    --magenta-600: #d02670;
    --magenta-700: #9f1853;
    --magenta-800: #740937;
    --magenta-900: #510224;
    --magenta-950: #2a0a18;
    //orange
    --orange-50: #fff7ed;
    --orange-100: #fff2e8;
    --orange-200: #ffd9be;
    --orange-300: #ffb784;
    --orange-400: #ff832b;
    --orange-500: #eb6200;
    --orange-600: #ba4e00;
    --orange-700: #8a3800;
    --orange-800: #5e2900;
    --orange-900: #3e1a00;
    --orange-950: #231000;
    //purple
    --purple-50: #f5f3ff;
    --purple-100: #ede9fe;
    --purple-200: #ddd6fe;
    --purple-300: #c4b5fd;
    --purple-400: #a78bfa;
    --purple-500: #8b5cf6;
    --purple-600: #7c3aed;
    --purple-700: #6d28d9;
    --purple-800: #5b21b6;
    --purple-900: #4c1d95;
    --purple-950: #2e1065;
    //red
    --red-50: #fff1f2;
    --red-100: #ffe4e6;
    --red-200: #fecdd3;
    --red-300: #fda4af;
    --red-400: #fb7185;
    --red-500: #f43f5e;
    --red-600: #e11d48;
    --red-700: #be123c;
    --red-800: #9f1239;
    --red-900: #881337;
    --red-950: #4c0519;
    //teal
    --teal-50: #f0fdfa;
    --teal-100: #d9fbfb;
    --teal-200: #9ef0f0;
    --teal-300: #3ddbd9;
    --teal-400: #08bdba;
    --teal-500: #009d9a;
    --teal-600: #007d79;
    --teal-700: #005d5d;
    --teal-800: #004144;
    --teal-900: #022b30;
    --teal-950: #081a1c;
    //yellow
    --yellow-50: #fffbeb;
    --yellow-100: #fef3c7;
    --yellow-200: #fde68a;
    --yellow-300: #fcd34d;
    --yellow-400: #fbbf24;
    --yellow-500: #f59e0b;
    --yellow-600: #d97706;
    --yellow-700: #b45309;
    --yellow-800: #92400e;
    --yellow-900: #78350f;
    --yellow-950: #451a03;

    //theme Default
    //core tokens
    //background
    --background: var(--white);
    --background-hover: rgba(140, 140, 140, 0.12); //neutral-500@12
    --background-active: rgba(140, 140, 140, 0.5); //neutral-500@50
    --background-selected: rgba(140, 140, 140, 0.2); //neutral-500@20
    --background-selected-hover: rgba(140, 140, 140, 0.32); //neutral-500@32
    --background-inverse: var(--neutral-900);
    --background-inverse-hover: var(--neutral-800);
    --background-brand: var(--brand-500);
    //surface
    --surface-primary: var(--neutral-50);
    --surface-primary-hover: var(--neutral-100);
    --surface-primary-active: var(--neutral-400);
    --surface-primary-selected: var(--neutral-200);
    --surface-primary-selected-hover: var(--neutral-300);
    --surface-secondary: var(--white);
    --surface-secondary-hover: var(--neutral-100);
    --surface-secondary-active: var(--neutral-400);
    --surface-secondary-selected: var(--neutral-200);
    --surface-secondary-selected-hover: var(--neutral-300);
    --surface-selected-inverse: var(--neutral-900);
    --surface-selected-disabled: var(--neutral-500);
    --surface-accent-primary: var(--brand-100);
    --surface-accent-secondary: var(--purple-100);
    --surface-accent-tertiary: var(--teal-200);
    //field
    --field: var(--neutral-100);
    --field-hover: var(--neutral-200);
    //border
    --border-subtle: var(--neutral-300);
    --border-strong: var(--neutral-500);
    --border-tile: var(--neutral-400);
    --border-inverse: var(--neutral-900);
    --border-disabled: var(--neutral-300);
    --border-interactive: var(--brand-500);
    //foreground
    --fg-primary: var(--neutral-900);
    --fg-secondary: var(--neutral-600);
    --fg-placeholder: var(--neutral-400);
    --fg-on-color: var(--white);
    --fg-on-color-disabled: var(--neutral-500);
    --fg-helper: var(--neutral-500);
    --fg-error: var(--Red-60);
    --fg-inverse: var(--white);
    --fg-disabled: var(--neutral-400);
    //link
    --link-primary: var(--brand-500);
    --link-primary-hover: var(--brand-700);
    --link-secondary: var(--neutral-900);
    --link-secondary-hover: var(--neutral-950);
    --link-inverse: var(--brand-400);
    --link-inverse-hover: var(--brand-300);
    --link-visited: var(--Purple-60);
    // support
    --support-error: var(--red-500);
    --support-success: var(--green-500);
    --support-warning: var(--yellow-500);
    --support-info: var(--blue-500);
    --support-error-inverse: var(--red-400);
    --support-success-inverse: var(--green-400);
    --support-warning-inverse: var(--yellow-400);
    --support-info-inverse: var(--brand-400);
    // miscellaneous
    --focus: var(--brand-500);
    --support-caution-undefined: var(--Purple-60);
    --focus-inset: var(--white);
    --focus-inverse: var(--white);
    --interactive: var(--brand-500);
    --highlight: var(--brand-200);
    --overlay: rgba(10, 10, 10, 0.5); //neutral-950@50
    --skeleton-element: var(--neutral-300);
    --skeleton-background: var(--neutral-100);

    // component token
    // button
    --button-primary-brand: var(--brand-500);
    --button-primary-brand-hover: var(--brand-600);
    --button-primary-brand-active: var(--brand-700);
    --button-primary: var(--neutral-900);
    --button-primary-hover: var(--neutral-800);
    --button-primary-active: var(--neutral-600);
    --button-secondary: var(--neutral-100);
    --button-secondary-hover: var(--neutral-200);
    --button-secondary-active: var(--neutral-400);
    --button-tertiary: var(--warm-neutral-900);
    --button-tertiary-hover: var(--neutral-200);
    --button-tertiary-active: var(--neutral-400);
    --button-danger-primary: var(--red-600);
    --button-danger-secondary: var(--red-600); 
    --button-danger-hover: var(--red-700);
    --button-danger-active: var(--red-800);
    --button-accent: var(--green-500);
    --button-accent-hover: var(--green-600);
    --button-accent-active: var(--green-700);
    --button-disabled: var(--neutral-400);
    // notification test ehsan
    --notification-info-background: var(--blue-50);
    --notification-info-border: #0043ce4d;
    --notification-success-background: var(--green-50);
    --notification-success-border: #24a1484d;
    --notification-error-background: var(--red-50);
    --notification-error-border: #da1e284d;
    --notification-warning-background: var(--yellow-50);
    --notification-warning-border: #f1c21b4d;

    // tag
    --tag-bg-brand: var(--brand-200);
    --tag-fg-brand: var(--brand-700);
    --tag-hover-brand: var(--brand-300);
    --tag-border-brand: var(--brand-400);
    --tag-bg-blue: var(--blue-200);
    --tag-fg-blue: var(--blue-700);
    --tag-hover-blue: var(--blue-300);
    --tag-border-blue: var(--blue-400);
    --tag-bg-cyan: var(--cyan-200);
    --tag-fg-cyan: var(--cyan-700);
    --tag-hover-cyan: var(--cyan-300);
    --tag-border-cyan: var(--cyan-400);
    --tag-bg-green: var(--green-200);
    --tag-fg-green: var(--green-700);
    --tag-hover-green: var(--green-300);
    --tag-border-green: var(--green-400);
    --tag-bg-magenta: var(--magenta-200);
    --tag-fg-magenta: var(--magenta-700);
    --tag-hover-magenta: var(--magenta-300);
    --tag-border-magenta: var(--magenta-400);
    --tag-bg-purple: var(--purple-200);
    --tag-fg-purple: var(--purple-700);
    --tag-hover-purple: var(--purple-300);
    --tag-border-purple: var(--purple-400);
    --tag-bg-red: var(--red-200);
    --tag-fg-red: var(--red-700);
    --tag-hover-red: var(--red-300);
    --tag-border-red: var(--red-400);
    --tag-bg-teal: var(--teal-200);
    --tag-fg-teal: var(--teal-700);
    --tag-hover-teal: var(--teal-300);
    --tag-border-teal: var(--teal-400);
    --tag-bg-gray: var(--neutral-200);
    --tag-fg-gray: var(--neutral-700);
    --tag-hover-gray: var(--neutral-300);
    --tag-border-gray: var(--neutral-400);
    --tag-bg-cool-gray: var(--cool-gray-200);
    --tag-fg-cool-gray: var(--cool-gray-700);
    --tag-hover-cool-gray: var(--cool-gray-300);
    --tag-border-cool-gray: var(--cool-gray-400);
    --tag-bg-warm-gray: var(--warm-gray-200);
    --tag-fg-warm-gray: var(--warm-gray-800);
    --tag-hover-warm-gray: var(--warm-gray-300);
    --tag-border-warm-gray: var(--warm-gray-400);
    --tag-bg-orange: var(--orange-200);
    --tag-fg-orange: var(--orange-700);
    --tag-hover-orange: var(--orange-300);
    --tag-tag-border-orange: var(--orange-400);
    --tag-bg-yellow: var(--yellow-200);
    --tag-fg-yellow: var(--yellow-700);
    --tag-hover-yellow: var(--yellow-300);
    --tag-border-yellow: var(--yellow-400);
  }
}

@layer components {
  /* fixed styles */
  /* utility */
  .label-01 {
    @apply tw-text-sm tw-leading-4 tw-font-normal;
  }
  .label-bold-01 {
    @apply tw-text-sm tw-leading-4 tw-font-bold;
  }
  .label-02 {
    @apply tw-text-base tw-leading-5 tw-font-normal;
  }
  .label-bold-02 {
    @apply tw-text-base tw-leading-5 tw-font-bold;
  }
  /* body */
  .body-compact-01 {
    @apply tw-text-base tw-leading-5 tw-font-normal;
  }
  .body-compact-02 {
    @apply tw-text-lg tw-leading-6 tw-font-normal;
  }
  .body-01 {
    @apply tw-text-base tw-leading-6 tw-font-normal;
  }
  .body-02 {
    @apply tw-text-lg tw-leading-7 tw-font-normal;
  }
  /* heading */
  .heading-compact-01 {
    @apply tw-text-base tw-leading-5 tw-font-bold;
  }
  .heading-compact-02 {
    @apply tw-text-lg tw-leading-6 tw-font-bold;
  }
  .heading-01 {
    @apply tw-text-base tw-leading-5 tw-font-bold;
  }
  .heading-02 {
    @apply tw-text-lg tw-leading-7 tw-font-bold;
  }
  .heading-03 {
    @apply tw-text-xl tw-leading-8 tw-font-bold;
  }
  .heading-04 {
    @apply tw-text-2xl tw-leading-8 tw-font-bold;
  }
  .heading-05 {
    @apply tw-text-3xl tw-leading-9 tw-font-bold;
  }
  .heading-06 {
    @apply tw-text-4xl tw-leading-normal tw-font-bold;
  }
  .heading-07 {
    @apply tw-text-5xl tw-leading-normal tw-font-bold;
  }
  /* fluid styles */
  /* fluid heading */
  .fluid-heading-03 {
    @apply tw-text-xl tw-leading-normal tw-font-bold;
    @apply md:tw-text-2xl;
  }
  .fluid-heading-04 {
    @apply tw-text-2xl tw-leading-normal tw-font-bold;
    @apply md:tw-text-3xl;
  }
  .fluid-heading-05 {
    @apply tw-text-3xl tw-leading-normal tw-font-bold;
    @apply md:tw-text-4xl;
  }
  .fluid-heading-06 {
    @apply tw-text-4xl tw-leading-normal tw-font-bold;
    @apply md:tw-text-5xl;
  }
  /* fluid display */
  .fluid-display-01 {
    @apply tw-text-5xl tw-leading-normal tw-font-bold;
    @apply md:tw-text-6xl;
  }
  .fluid-display-02 {
    @apply tw-text-5xl tw-leading-normal tw-font-bold;
    @apply md:tw-text-7xl;
  }
  .fluid-display-03 {
    @apply tw-text-5xl tw-leading-normal tw-font-bold;
    @apply md:tw-text-8xl;
  }
  .fluid-display-04 {
    @apply tw-text-5xl tw-leading-normal tw-font-bold;
    @apply md:tw-text-9xl;
  }
  /* fluid paragraph */
  .fluid-paragraph-01 {
    @apply tw-text-lg tw-leading-7 tw-font-normal;
    @apply md:tw-text-xl tw-leading-8;
  }
  .fluid-paragraph-02 {
    @apply tw-text-xl tw-leading-8 tw-font-bold;
    @apply md:tw-text-2xl tw-leading-9;
  }

  //btn
  .tw-btn {
    @apply tw-px-4 tw-py-3 tw-inline-flex tw-gap-2 tw-whitespace-nowrap tw-rounded tw-text-center tw-items-center tw-text-base tw-leading-4 tw-font-medium tw-align-middle tw-cursor-pointer focus-visible:tw-outline-none focus-visible:tw-ring-2 focus-visible:tw-ring-focus focus-visible:tw-ring-offset-1 disabled:tw-bg-[--button-disabled] disabled:tw-text-fg-on-color-disabled disabled:tw-pointer-events-none tw-transition-colors tw-duration-150;
  }
  //btn styles
  .tw-btn-primary-brand {
    @apply tw-text-fg-on-color tw-bg-[--button-primary-brand] hover:tw-bg-[--button-primary-brand-hover] active:tw-bg-[--button-primary-brand-active];
  }
  .tw-btn-primary {
    @apply tw-text-fg-on-color tw-bg-[--button-primary] hover:tw-bg-[--button-primary-hover] active:tw-bg-[--button-primary-active];
  }
  .tw-btn-secondary {
    @apply tw-text-fg-primary tw-bg-[--button-secondary] hover:tw-bg-[--button-secondary-hover] active:tw-bg-[--button-secondary-active];
  }
  .tw-btn-tertiary {
    @apply tw-text-fg-primary tw-border tw-border-[--btn-tertiary] hover:tw-bg-[--button-tertiary-hover] active:tw-bg-background-active;
  }
  .tw-btn-ghost {
    @apply tw-text-fg-primary hover:tw-bg-background-hover active:tw-bg-background-active;
  }

  //btn sizes
  .tw-btn-xl {
    @apply tw-px-6 tw-py-4 tw-text-xl;
  }
  .tw-btn-lg {
    @apply tw-px-6 tw-py-4;
  }
  .tw-btn-sm {
    @apply tw-px-3 tw-py-2;
  }
  .tw-btn-xs {
    @apply tw-px-2 tw-py-1 tw-text-sm;
  }
  //icon button
  // .icon-btn {
  //   @apply inline-flex px-2 py-2 whitespace-nowrap rounded items-center align-middle cursor-pointer focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-focus focus-visible:ring-offset-1 disabled:bg-[--bg-button-disabled] disabled:text-fg-on-color-disabled disabled:pointer-events-none transition-colors select-none duration-150;
  // }
  .tw-icon-btn {
    @apply tw-aspect-square;
  }
  //icon button sizes
  .tw-icon-btn-lg {
    @apply tw-px-4 tw-py-4;
  }
  .tw-icon-btn-sm {
    @apply tw-px-2 tw-py-2;
  }
  .tw-icon-btn-xs {
    @apply tw-px-1 tw-py-1;
  }
}

// body {
//   @apply font-sans text-base;
// }
